body {
  /* background-color: #f2f2f2; */
  background-image: url("https://www.noaa.gov/sites/default/files/styles/landscape_width_1275/public/legacy/image/2019/Jun/PHOTO-dark%20and%20stormy%20cloudscape-istock-1125x534-Landscape.jpg");
  background-repeat: no-repeat;
  /* background-size: cover; */
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  /* z-index: -1; */
  font-family: Arial, sans-serif;
  color: #e86de8;
  text-align: center;
}

/* .container {
  margin-top: 100px;
} */

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.weather {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  padding: 12px;
  width: 250px;
  border: none;
  border-radius: 4px;
  /* background-color: #fff; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button {
  padding: 12px 20px;
  margin-top: 5px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

#result {
  margin-top: 40px;
  font-size: 24px;
}

#additional-info {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

#additional-info div {
  width: 30%;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#additional-info div h2 {
  color: navy;
  font-size: 20px;
  margin-bottom: 10px;
}

#additional-info div p {
  color:red;
  font-size: 16px;
}

@media only screen and (min-width: 400px) and (max-width: 900px) {
  body {
    font-size: 24px;
    background-size: cover;

  }

  main {
    padding: 15px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 850px) {
  body {
    font-size: 24px;
    background-size: cover;
    margin-top: 50%;

  }
    #additional-info div {
      width: 15%;
      background-color: #fff;
      padding: 35px;
      border-radius: 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
    }
  main {
    padding: 15px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1500px) {
  body {
    font-size: 24px;
    background-size: cover;
    margin-top: 50%;

  }

  #additional-info div {
    width: 100%;
    /* background-color: #fff; */
    padding: 100px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
  }

  main {
    padding: 15px;
  }
}

;
